#!/usr/bin/env bash

export AWS_ROLE_ARN="arn:aws:iam::123456789012:role/example-role"
export AWS_REGION="ap-southeast-1"
export AWS_S3_BUCKET="sample-s3-bucket-name"
export AWS_DOMAIN="https://cdn-or-s3-domain.example.com"
export GIT_PAT="ghp_personal_access_token"
export WRAPPER_REPO="username/wrapper-repo-name"
export WRAPPER_REPO_DIR="wrapper_repo"
export FLUTTER_VERSION="3.27.2"
