name: Dart CI

on: [push, pull_request]

jobs:
  test_and_validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          flutter-version: "3.27.2"

      - name: Install dependencies
        run: |
          flutter pub get

      - name: Analyze (Check if distributable for Dart)
        run: flutter analyze

      - name: Run Tests
        run: flutter test

      - name: Analyze (Check if distributable for Flutter)
        run: |
          cd example/
          flutter analyze
