name: Test & Publish

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"

jobs:
  test_and_validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          flutter-version: "3.27.2"

      - name: Install dependencies
        run: |
          flutter pub get
          cd omise_flutter_module/
          flutter pub get

      - name: Analyze (Check if distributable for flutter)
        run: flutter analyze

      - name: Run Tests
        run: flutter test

      - name: Analyze (Check if example is distributable for Flutter)
        run: |
          cd example/
          flutter analyze

  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for authentication using OIDC
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          flutter-version: "3.27.2"

      - name: Install dependencies
        run: flutter pub get
        
      - name: Publish - dry run
        # Use flutter pub publish for dry-run to ensure all Flutter-specific validations (assets, sdk constraints) pass.
        run: flutter pub publish --dry-run

      - name: Publish to pub.dev
        # Use dart pub publish for the actual upload because it supports OIDC authentication with GitHub Actions,
        # avoiding manually approved localhost links which fail in CI.
        run: dart pub publish -f
